:root {
    --main-color: #0073e6;
    --main-font-color: #333;
    --main-border-color: #ccc;
}

*, html, body {
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}
button {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    color: #fff;
    padding: 6px 12px 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}
input, select {
    border: solid 1px var(--main-border-color);
    border-radius: 6px;
    padding: 6px 12px 8px 12px;
}
input[type="range"] {
    vertical-align: middle;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
label {
    vertical-align: middle;
    margin-right: 5px;
}
.btn-alt {
    border: solid 1px var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

#init-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#upload-btn {
    padding: 8px 50px 10px 50px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.2em;
}

#file-input,
#work-area,
#work-canvas,
#watermark-img,
.menu-item {
    display: none;
}

#work-area {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.work-panel {
    margin: 20px 0 15px 0;
    padding: 0 20px;
    position: relative;
}
.work-panel button {
    margin-right: 20px;
}
.work-panel-menu {
    position: absolute;
    bottom: -56px;
    left: 20px;
    font-size: 14px;
    padding: 6px;
    background-color: #ffffffcc;
}
.work-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#work-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.work-panel-menu button, .work-panel-menu input, .work-panel-menu select {
    padding: 4px 10px 6px 10px;
}
.menu-item button, .menu-item input, .menu-item select {
    margin-right: 15px;
}
.menu-item *:last-child {
    margin-right: 0;
}

.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
